/* Палитра цветов */
:root {
    --main-txt-color: #212121;
    --body-color: #ffffff;
    --txt-color: #757575;
    --heder-link-color: #2196f3;
    --logo-footer-color: #000000;
    --section1-background-color: #2f303a;
    --footer-link-color: rgb(255, 255, 255, 0.6);
    --section2-background-color: #ececec;
    --section-background-color: #f5f4fa;
    --activity-color: #ff0000;
    --border-color: #afb1b8;
    --color-opacity: rgba(0, 0, 0, 0.2);
    --circle-coloir: rgba(0, 0, 0, 0.1);
    --worck-card-color: rgba(47, 48, 58, 0.8);
    --worck-color: rgba(33, 150, 243, 0.9);
}

.header{
    text-align: center;
    background-color: #516489;
    padding-top: 50px;
}
.main_content{
    background-color: #516489;
}
.item{
    list-style: none;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-top: 50px;
    color: #d9d9d9;
}
.name{
    color: white;
    font-size: 20px;
}
.soname{
        color: white;
        font-size: 12px;
}

ul{
    margin: 0px;
    padding: 0px;
    color: #d9d9d9;
}
li{
    display: flex;
    justify-content: space-between;
}

.footer{
    text-align: center;
    background-color: #516489;
    padding-top: 65px;
    padding-bottom: 15px;
}
.adress{
    color: white;
    font-size: 13px;
    }
.phone{
    color: white;
    font-size: 13px;
    margin-top: 10px;

}

p{
    margin: 0px;
    padding: 0px;
    }
.line{
    height: 5px;
    background-color: white;
    margin-bottom: 15px;
}
.line_box{
    margin-left: 40px;
    margin-right: 40px;
}



.soc-icon {
    display: flex;
    /* width: 206px; */
    /* height: 44px;
  margin-right: auto;
  margin-left: auto;*/
   margin-top: 16px;  
    /* /* margin-bottom: 30px; */
    justify-content: center; 
}
.soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* margin-left: 30px; */
    display: flex;
}
.soc-link-box {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: color(#afb1b8);
}
.youtube {
    color: red;
}
.instagram {
    background-size: 20px;
}
.soc-link-box-none_active {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--border-color);
}

.soc-link-box-none_active:hover,
.soc-link-box-none_active:focus {
    background-color: var(--activity-color);
    fill: var(--body-color);
    border-radius: 50%;
}

.soc-link-box:hover,
.soc-link-box:focus {
    background-color: var(--heder-link-color);
    fill: var(--body-color);
    border-radius: 50%;
}

.foto {
    border-radius: 50%;
    margin-top: 25px;
}